.login {
	height: 80vh;
	display: flex;
	align-items: center;
	&__form {
		width: 300px;
		margin: auto !important;
		background-color: #eee;
		padding: 20px !important;
		border-radius: 5px;
		&--forgot {
			float: right;
		}
		&__button {
			width: 100%;
		}
	}
}