.totalSize {
	width: 100%;
	height: 100%;
}

.d-flex {
	display: flex;
}
.m {
	&l-2 {
		margin-left: '.15rem';
	}
	&-35 {
		margin: 2.125rem;
	}
	&b-10 {
		margin-bottom: 10px;
	}
	&t {
		margin-top: 8%;
	}
}

.bg-white {
	background-color: $white;
}
.text{
	&--left{
		text-align: end;
	}
}
